.git
.github
.turbo
.DS_Store

.env
.env.*
service-account*.json
*.log

node_modules
**/node_modules
**/coverage
**/dist

apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/ios/Pods
apps/mobile/android/.gradle
